# Ignore everything
/*

# Ignore Specifics
/Source/*
/Plugins/*
/Plugins/MoveAssets/*

# White-list
!.gitignore

!Plugins/
!Plugins/MoveAssets/
!Plugins/MoveAssets/Source/
!Plugins/MoveAssets/Source/**


